@page
@model VolleyballCompetitionApp.Presentation.Pages.Teams.CreateModel
@{
	ViewBag.Title = "Create Player";
}

@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}

<h2>Create Team</h2>

<form method="post" asp-page-handler="Create">
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Club Id</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> Auto generated Id</td>
				<td><input type="number" name="clubId" ></td>
				<td><input type="text" name="teamName"></td>
			</tr>
		</tbody>
	</table>
	<button type="submit">Create</button>
</form>
<form method="post" asp-page-handler="Cancel">
	<button type="submit" name="handler" value="Cancel">Cancel</button>
</form>