@page
@model VolleyballCompetitionApp.Presentation.Pages.Club.IndexModel
@{

}
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

	@foreach (Business.Models.ClubModel clubModel in Model.GetAll())
	{
        <tr>
            <td>@clubModel.Id</td>
            <td>@clubModel.Name</td>
            <td><a asp-page="/TeamOld/Index" asp-route-clubName="@clubModel.Name" asp-route-clubId="@clubModel.Id" a>Go To team list of club.</a></td>
        </tr>
	}
</table>