@page
@model VolleyballCompetitionApp.Presentation.Pages.Players.EditModel
@{
	ViewBag.Title = "Edit Player";
}

@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}

<h2>Edit Player</h2>

<form method="post" asp-page-handler="Edit">
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Team Id</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="number" name="id" value="@Model.player.Id" readonly></td>
				<td><input type="number" name="newTeamId" value="@Model.player.TeamId"></td>
				<td><input type="text" name="newPlayerName" value="@Model.player.Name"></td>
			</tr>
		</tbody>
	</table>
	<button type="submit" >Edit</button>
</form>
<form method="post" asp-page-handler="Cancel">
	<button type="submit" name="handler" value="Cancel">Cancel</button>
</form>